body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #2f3845;
}

html {
  overflow: hidden;
}

.menu-bar {
  -webkit-app-region: drag;
  height: 30px;
  background-color: #21252b;
  display: flex;
  justify-content: flex-start;
}

.app-title {
  font-family: 'Nunito', sans-serif;
  padding-left: 5px;
  line-height: 30px;
  color:white;
}

#color-picker-button {
  border: none;
  outline: none;
  background-color: #2f3845;
  border-radius: 5px;
  font-family: 'Nunito', sans-serif;
  font-size: 15px;
  margin-top: 3px;
  margin-left: 10px;
  width: 110px;
  height: 24px;
  color: white;
  transition: background-color 0.5s;
  -webkit-app-region: no-drag;
}

#color-picker-button:hover {
  background-color: #728299;
  transition: background-color 0.5s;
}

.port-container {
  margin: 30px;
  height: 210px;
  width: 270px;
  position: absolute;
}

.port1-control-stick-and-buttons, .port2-control-stick-and-buttons {
  position: absolute;
  top: 20px;
}

#port1-a-button, #port2-a-button {
  position: absolute;
  background-color: #00cf78;
  height: 50px;
  width: 50px;
  top: 50px;
  left: 190px;
}

#port1-a-button.active, #port2-a-button.active {
  background-color: #bfffe4;
  height: 45px;
  width: 45px;
  top: 52.5px;
  left: 192.5px;
}

#port1-a-press-shadow, #port2-a-press-shadow  {
  position: absolute;
  background-color: white;
  height: 45px;
  width: 45px;
  top: 52.5px;
  left: 192.5px;
  transition: all 0s;
  z-index: -1;
}

#port1-a-press-shadow.transition, #port2-a-press-shadow.transition {
  height: 70px;
  width: 70px;
  top: 40px;
  left: 180px;
  background-color: transparent;
  transition: background-color 0.16s, left 0.08s, top 0.08s, height 0.08s, width 0.08s;
}

#port1-b-button, #port2-b-button {
  position: absolute;
  background-color: #c20000;
  height: 30px;
  width: 30px;
  top: 70px;
  left: 150px;
}

#port1-b-button.active, #port2-b-button.active {
  background-color: #ffbfbf;
  height: 25px;
  width: 25px;
  top: 72.5px;
  left: 152.5px;
}

#port1-b-press-shadow, #port2-b-press-shadow {
  position: absolute;
  background-color: white;
  height: 25px;
  width: 25px;
  top: 72.5px;
  left: 152.5px;
  transition: all 0s;
  z-index: -1;
}

#port1-b-press-shadow.transition, #port2-b-press-shadow.transition {
  height: 45px;
  width: 45px;
  top: 62.5px;
  left: 142.5px;
  background-color: transparent;
  transition: background-color 0.16s, left 0.08s, top 0.08s, height 0.08s, width 0.08s;
}

#port1-x-button, #port2-x-button {
  position: absolute;
  background-color: #cccccc;
  height: 50px;
  width: 20px;
  top: 50px;
  left: 250px;
}

#port1-x-button.active, #port2-x-button.active {
  background-color: #f0f0f0;
  height: 40px;
  width: 16px;
  top: 55px;
  left: 252px;
}

#port1-x-press-shadow, #port2-x-press-shadow {
  position: absolute;
  background-color: white;
  height: 50px;
  width: 20px;
  top: 50px;
  left: 250px;
  transition: all 0s;
  z-index: -1;
}

#port1-x-press-shadow.transition, #port2-x-press-shadow.transition {
  height: 70px;
  width: 28px;
  top: 40px;
  left: 246px;
  background-color: transparent;
  transition: background-color 0.16s, left 0.08s, top 0.08s, height 0.08s, width 0.08s;
}

#port1-y-button, #port2-y-button {
  position: absolute;
  background-color: #cccccc;
  width: 50px;
  height: 20px;
  top: 20px;
  left: 190px;
}

#port1-y-button.active, #port2-y-button.active {
  background-color: #f0f0f0;
  width: 40px;
  height: 16px;
  top: 22px;
  left: 195px;
}

#port1-y-press-shadow, #port2-y-press-shadow {
  position: absolute;
  background-color: white;
  width: 50px;
  height: 20px;
  top: 20px;
  left: 190px;
  transition: all 0s;
  z-index: -1;
}

#port1-y-press-shadow.transition, #port2-y-press-shadow.transition {
  width: 70px;
  height: 28px;
  top: 16px;
  left: 180px;
  background-color: transparent;
  transition: background-color 0.16s, left 0.08s, top 0.08s, height 0.08s, width 0.08s;
}

#port1-start-button, #port2-start-button {
  position: absolute;
  background-color: #cccccc;
  height: 15px;
  width: 15px;
  top: 60px;
  left: 105px;
}

#port1-start-button.active, #port2-start-button.active {
  background-color: #f0f0f0;
  height: 10px;
  width: 10px;
  top: 62.5px;
  left: 107.5px;
}

#port1-start-press-shadow, #port2-start-press-shadow {
  position: absolute;
  background-color: white;
  height: 15px;
  width: 15px;
  top: 60px;
  left: 105px;
  transition: all 0s;
  z-index: -1;
}

#port1-start-press-shadow.transition, #port2-start-press-shadow.transition {
  height: 25px;
  width: 25px;
  top: 55px;
  left: 100px;
  background-color: transparent;
  transition: background-color 0.16s, left 0.08s, top 0.08s, height 0.08s, width 0.08s;
}

#port1-l-trigger, #port2-l-trigger {
  position: absolute;
  background-color: transparent;
  border-style: solid;
  border-width: 3px;
  border-color: #cccccc;
  height: 10px;
  width: 75px;
  top: -3px;
  left: -5px;
}

#port1-l-trigger.active, #port2-l-trigger.active {
  border-color: white;
}

#port1-l-trigger-shadow, #port2-l-trigger-shadow {
  position: absolute;
  background-color: white;
  height: 16px;
  width: 0px;
  left: 75px;
  top: -3px;
}

#port1-l-trigger-shadow.transition, #port2-l-trigger-shadow.transition {
  width: 40px;
  background-color: transparent;
  transition: background-color 0.16s, top 0.08s, width 0.08s, height 0.08s;
}

#port1-l-analog, #port2-l-analog {
  position: absolute;
  background-color: #cccccc;
  height: 10px;
  width: 0px;
  transition: width 16.66ms;
}

#port1-l-analog.active, #port2-l-analog.active {
  background-color: white;
}

#port1-r-trigger, #port2-r-trigger {
  position: absolute;
  background-color: transparent;
  border-style: solid;
  border-width: 3px;
  border-color: #cccccc;
  height: 10px;
  width: 75px;
  top: -3px;
  left: 190px;
}

#port1-r-trigger.active, #port2-r-trigger.active {
  border-color: white;
}

#port1-r-analog, #port2-r-analog {
  position: absolute;
  background-color: #cccccc;
  height: 10px;
  width: 0px;
  right: 0px;
  transition: width 16.66ms;
}

#port1-r-analog.active, #port2-r-analog.active {
  background-color: white;
}

#port1-r-trigger-shadow, #port2-r-trigger-shadow {
  position: absolute;
  background-color: white;
  height: 16px;
  width: 0px;
  right: 75px;
  top: -3px;
}

#port1-r-trigger-shadow.transition, #port2-r-trigger-shadow.transition {
  width: 40px;
  background-color: transparent;
  transition: background-color 0.16s, width 0.08s;
}

#port1-z-button, #port2-z-button {
  position: absolute;
  background-color: #6a49ff;
  height: 10px;
  width: 80px;
  top: 20px;
  left: 190px;
}

#port1-z-button.active, #port2-z-button.active {
  background-color: #ccc1ff;
  height: 8px;
  width: 70px;
  top: 21px;
  left: 195px;
}

#port1-z-press-shadow, #port2-z-press-shadow {
  position: absolute;
  background-color: white;
  height: 10px;
  width: 80px;
  top: 20px;
  left: 190px;
  transition: all 0s;
  z-index: -1;
}

#port1-z-press-shadow.transition, #port2-z-press-shadow.transition {
  height: 15px;
  width: 110px;
  top: 17.5px;
  left: 175px;
  background-color: transparent;
  transition: background-color 0.16s, left 0.08s, top 0.08s, height 0.08s, width 0.08s;
}

#port1-d-pad, #port2-d-pad {
  position: absolute;
  top: 150px;
  left: 50px;
}

#port1-d-pad-center, #port2-d-pad-center {
  position: absolute;
  background-color: #cccccc;
  height: 15px;
  width: 15px;
  top: 17.5px;
  left: 17.5px;
}

#port1-d-pad-left, #port2-d-pad-left {
  position: absolute;
  background-color: #cccccc;
  height: 15px;
  width: 17.5px;
  top: 17.5px;
}

#port1-d-pad-left.active, #port2-d-pad-left.active {
  background-color: white;
  height: 13px;
  width: 15.5px;
  top: 18.5px;
  left: 2px;
}

#port1-d-pad-left-press-shadow, #port2-d-pad-left-press-shadow {
  position: absolute;
  background-color: white;
  height: 13px;
  width: 0px;
  top: 18.5px;
  right: -2px;
  transition: all 0s;
}

#port1-d-pad-left-press-shadow.transition, #port2-d-pad-left-press-shadow.transition {
  width: 15px;
  background-color: transparent;
  transition: background-color 0.16s, width 0.08s;
}

#port1-d-pad-right, #port2-d-pad-right {
  position: absolute;
  background-color: #cccccc;
  height: 15px;
  width: 17.5px;
  top: 17.5px;
  left: 32.5px;
}

#port1-d-pad-right.active, #port2-d-pad-right.active {
  background-color: white;
  height: 13px;
  width: 15.5px;
  top: 18.5px;
}

#port1-d-pad-right-press-shadow, #port2-d-pad-right-press-shadow {
  position: absolute;
  background-color: white;
  height: 13px;
  width: 0px;
  top: 18.5px;
  left: 48px;
  transition: all 0s;
}

#port1-d-pad-right-press-shadow.transition, #port2-d-pad-right-press-shadow.transition {
  width: 15px;
  background-color: transparent;
  transition: background-color 0.16s, width 0.08s;
}

#port1-d-pad-down, #port2-d-pad-down {
  position: absolute;
  background-color: #cccccc;
  height: 17.5px;
  width: 15px;
  top: 32.5px;
  left: 17.5px;
}

#port1-d-pad-down.active, #port2-d-pad-down.active {
  background-color: white;
  height: 15.5px;
  width: 13px;
  left: 18.5px;
}

#port1-d-pad-down-press-shadow, #port2-d-pad-down-press-shadow {
  position: absolute;
  background-color: white;
  height: 0px;
  width: 13px;
  top: 48px;
  left: 18.5px;
  transition: all 0s;
}

#port1-d-pad-down-press-shadow.transition, #port2-d-pad-down-press-shadow.transition {
  height: 15px;
  background-color: transparent;
  transition: background-color 0.16s, height 0.08s;
}

#port1-d-pad-up, #port2-d-pad-up {
  position: absolute;
  background-color: #cccccc;
  height: 17.5px;
  width: 15px;
  left: 17.5px;
}

#port1-d-pad-up.active, #port2-d-pad-up.active {
  background-color: white;
  height: 15.5px;
  width: 13px;
  top: 2px;
  left: 18.5px;
}

#port1-d-pad-up-press-shadow, #port2-d-pad-up-press-shadow {
  position: absolute;
  background-color: white;
  height: 0px;
  width: 13px;
  bottom: -2px;
  left: 18.5px;
  transition: all 0s;
}

#port1-d-pad-up-press-shadow.transition, #port2-d-pad-up-press-shadow.transition {
  height: 15px;
  background-color: transparent;
  transition: background-color 0.16s, height 0.08s;
}

#port1-control-stick-box, #port2-control-stick-box {
  position: absolute;
  background-image: url("file:///control_stick.png");
  background-size: 70px;
  top: 30px;
  height: 70px;
  width: 70px;
  z-index: -1;
}

#port1-control-stick, #port2-control-stick {
  position: absolute;
  background-color: #cccccc;
  height: 50px;
  width: 50px;
  bottom: calc((70px / 2) - 25px);
  left: calc((70px / 2) - 25px);
  border-radius: 50%;
  transition: 16.66ms;
  transform: rotateX(0deg), rotateY(0deg);
}

#port1-c-stick-box, #port2-c-stick-box {
  position: absolute;
  background-image: url("file:///c_stick.png");
  background-size: 70px;
  top: 140px;
  left: 140px;
  height: 70px;
  width: 70px;
  z-index: -1;
}

#port1-c-stick, #port2-c-stick {
  position: absolute;
  background-color: #ffe600;
  height: 40px;
  width: 40px;
  bottom: calc((70px / 2) - 17.5px);
  left: calc((70px / 2) - 17.5px);
  border-radius: 50%;
  transition: 16.66ms;
  transform: rotateX(0deg), rotateY(0deg);
}