body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #2f3845;
}

.menu-bar {
  -webkit-app-region: drag;
  height: 30px;
  background-color: #21252b;
  display: flex;
  justify-content: flex-start;
}

.app-title {
  font-family: 'Nunito', sans-serif;
  padding-left: 5px;
  line-height: 30px;
  color:white;
}

.port-container {
  margin: 30px;
  height: 150px;
  position: relative;
}

#port1-a-button, #port2-a-button {
  position: absolute;
  background-color: #00cf78;
  height: 50px;
  width: 50px;
  left: 140px;
  top: 30px;
}

#port1-a-button.active {
  background-color: #bfffe4;
  top: 32.5px;
  left: 142.5px;
  height: 45px;
  width: 45px;
}

#port1-a-press-shadow {
  position: absolute;
  background-color: white;
  height: 50px;
  width: 50px;
  left: 140px;
  top: 30px;
  transition: all 0s;
  z-index: -1;
}

#port1-a-press-shadow.transition {
  left: 130px;
  top: 20px;
  height: 70px;
  width: 70px;
  background-color: transparent;
  transition: background-color 0.16s, left 0.08s, top 0.08s, height 0.08s, width 0.08s;
}

#port1-b-button, #port2-b-button {
  position: absolute;
  background-color: #c20000;
  height: 30px;
  width: 30px;
  top: 50px;
  left: 100px;
}

#port1-y-button {
  position: absolute;
  background-color: #c2c2c2;
  width: 50px;
  height: 20px;
  left: 140px;
}

#port1-x-button {
  position: absolute;
  background-color: #c2c2c2;
  height: 50px;
  width: 20px;
  top: 30px;
  left: 200px;
}

#port1-control-stick-box {
  position: relative;
  background-color: #c2c2c2;
  top: 10px;
  height: 70px;
  width: 70px;
  border-radius: 50%;
}

#port1-control-stick {
  position: absolute;
  background-color: #737373;
  height: 10px;
  width: 10px;
  bottom: calc((70px / 2) - 5px);
  left: calc((70px / 2) - 5px);
  border-radius: 50%;
  transition: 16.66ms;
}